
 
body{


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-style: italic;
    text-decoration: aliceblue;
    color: rgb(253, 255, 240);

background-color: blueviolet;

 
}

 #center {
    color: rgb(255, 240, 246);
}
    
.content-wrapper{

    padding: 10px 30px;

}
p{
   
    text-align: center;
    font style: italic;
    
}

h1{

    text-align: center;
    font-style: italic;
    font-size: larger;
    color: aliceblue;

}

.highlight{

    font-weight: 700;

    color: forestgreen;

}

h1, 
h2{

    font-weight: 400;

}

 

ul li{

    list-style-type: square;

    margin-bottom: 10px;

    margin-left: 50px;

}

/* unvisited link */

a:link {

    color: rgb(11, 13, 12);

}

 

/* visited link */

a:visited {

    color: green;

}

 

/* mouse over link */

a:hover { font-style: italic;

    color: rgb(81, 100, 109);

}

 

/* selected link */

a:active {

    color: blue;

}